/* Empty. Add your own CSS if you like */
 
.img-shadow { 
    box-shadow: 7px 7px 5px #888;
}

.item-bgcolor {
    background-color: #F0F8FF;
}

.angular-google-map-container { 
    height: 400px; 
}