<ion-view view-title="Locations and Hours">
    <ion-content>
        <section ng-controller="LocationsController as vm">
            
            <div style="height:100%;">
                <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">
                    <ui-gmap-markers
                        models="vm.locationList"
                        idKey="vm.locationList.$id"
                        coords="'coordinates'"
                    ></ui-gmap-markers>
                </ui-gmap-google-map>

            <div class="list">

                <a class="item item-thumbnail-left" ng-repeat="location in vm.locationList" href="#">
                  <img ng-src="{{location.locationThumbnail}}">
                  <h2>{{location.locationName}}</h2>
                  <p>{{location.locationDescription}}</p>
                </a>
            
            </div>
                
            </div>
            
        </section>
    </ion-content>
</ion-view>