<ion-view view-title="Events">
    <ion-content>
        <section ng-controller="EventsController as vm">
            
            <div id="calendar" style="height:100%;">
                <calendar calendar-mode="mode" event-source="vm.testEvent">
            </div>
            
            <div class="card" ng-repeat="event in vm.eventList"
            ui-sref="neteApp.readEvent({eventID: event.$id})">
                <div class="item item-text-wrap">
                    <p>{{event.eventTitle}}</p>
                    <p>{{event.startTime | date}} -  {{event.endTime | date}}</p>
                </div>
            </div>
            
        </section>
    </ion-content>
</ion-view>